@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');



* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   max-width: 100vw;
   overflow-x: hidden;
}

body {
   font-family: "Golos Text", sans-serif;
   background: #0a0a0a;
   color: #fff;
}

a {
   color: inherit;
   text-decoration: none;
}

.content-wrapper {
   position: relative;
   z-index: 1;
}