@keyframes fillToggle {
   0% {
      color: #fff;
      -webkit-text-stroke: 0px white;
   }

   49% {
      color: #f50101;
      -webkit-text-stroke: 0px white;
   }

   50% {
      color: transparent;
      -webkit-text-stroke: 2px white;
   }

   100% {
      color: transparent;
      -webkit-text-stroke: 2px white;
   }
}